.ion-content-scroll-host {
    flex-grow: 1;
    overflow-y: hidden;
}

.ion-flex-offset-app, .ion-page, ion-content {
    height: 100%;
}

.ion-list {
    display: none;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-message-wrapper {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    /* Make it take up remaining space */
    padding-bottom: 5px;
    padding-top: 5px;
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: hidden;
    /* Disable horizontal scrolling */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.chat-list {
    display: flex !important;
    flex-grow: 1 !important;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-list::-webkit-scrollbar {
    display: none;
}

.chat-container {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.ion-content-scroll-host,
.chat-item,
.chat-card-item {
    overflow-y: auto; /* Allows scrolling */
    -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.ion-content-scroll-host::-webkit-scrollbar,
.chat-item::-webkit-scrollbar,
.chat-card-item::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
}