# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/ios/App/Pods/*

# ignore everything in App/Pods except for the /Pods/Target Support Files/Pods-App/Pods-App.release.xcconfig file
!/ios/App/Pods/Target Support Files/Pods-App/Pods-App.release.xcconfig
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local
/.vscode/*
!/.vscode/extensions.json
.idea
# android app google services.json
/android/app/google-services.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

resources/ios/**/*
resources/android/**/*
.env

# Flutter/Dart related
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub/
.idea/
.vscode/
*.iml

# Exclude secret files within flutter_bikebus
flutter_bikebus/assets/.env.*
flutter_bikebus/config.yaml
flutter_bikebus/config.json
flutter_bikebus/*.key
flutter_bikebus/*.pem
flutter_bikebus/*.crt
flutter_bikebus/secrets.*
flutter_bikebus/keys/
flutter_bikebus/credentials/
flutter_bikebus/android/app/google-services.json
flutter_bikebus/lib/firebase_options.dart
emulatorbackup/*
firebasebackup/*
