rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access for all documents until August 1, 2023
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2023, 8, 1);
    }

    // Allow read access to user data for members of the bikebusgroup
    match /users/{userId} {
      // Check if current user is a member of bikebusgroup
      function isCurrentUserBikeBusGroupMember() {
        return exists(/databases/$(database)/documents/bikebusgroups/$(request.auth.uid));
      }

      // Allow read access to the user's own data within their user document for the username field
      // or allow read access if current user is a member of bikebusgroup
      allow read: if request.auth.uid == userId && resource.data.username == request.auth.token.name || isCurrentUserBikeBusGroupMember();
    }
  }
}
