App/build
App/Pods/*

# ignore everything in App/Pods except for the /Pods/Target Support Files/Pods-App/Pods-App.release.xcconfig file
!App/Pods/Target Support Files/Pods-App/Pods-App.release.xcconfig
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
