/* Card Styling */
.ion-card {
    width: 100%;
    max-width: 600px; /* Adjust based on preference */
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.ion-card-header {
    background-color: #f0f0f5; /* Light background for the header */
    border-bottom: 1px solid #d1d1d6; /* Separator */
}

.ion-card-title {
    color: #ffd800; /* Theme color */
}

/* Avatar Styling */
.avatar {
    margin: 0px auto;
    border-radius: 50%;
    border: 2px solid #007aff; /* Theme color border */
}

/* Button Styling */


.ion-button-profile {
    --border-radius: 20px; /* Rounded edges for profile button */
}

/* Input and Label Styling */
.ion-item {
    --background: #333333; /* Background color */
    --padding-start: 20px; /* Left padding */
    --inner-padding-end: 20px; /* Right padding */
    --border-color: #d1d1d6; /* Border color */
    margin-bottom: 10px; /* Spacing between items */
}

.ion-label {
    font-weight: bold;
}

/* Text Styling */
.ion-text {
    color: #333333; /* Dark text for readability */
}
