.chat-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.avatarChat {
    margin: 5px;
    flex-shrink: 0;
    /* Prevent the avatar from shrinking */
}

.chat-message-wrapper {
    display: flex;
    /* Control the maximum width of the chat bubble */
    flex-grow: 1;
    /* Allow the wrapper to grow */
}

.chat-message {
    background-color: #f1f1f1;
    color: black;
    border-radius: 15px;
    padding: 10px;
    white-space: normal;
    word-wrap: break-word;
    display: inline-flex;
    /* Change to inline-flex to allow the bubble to shrink and grow with content */
}

.chat-item-right {
    background-color: #007bff;
    color: white;
    text-align: right;
}

.chat-item-left {
    text-align: left;
}

/* Additional adjustments for the infinite scroll if needed */
.ion-infinite-scroll-content {
    padding: 0;
    margin: 0;
}

.ion-infinite-scroll-content .spinner {
    width: 20px;
    height: 20px;
}

.infinite-scroll-enabled {
    display: flex !important;
    padding: 0;
    margin: 0;
}


.chat-message-wrapper {
    display: flex;
    /* Align content to the right */
}

.chat-item-left .chat-message-wrapper {
    width: 10%;
    text-align: right;
    /* Align content to the left for other users */
}

.chat-item-right .chat-message {
    order: -1; /* Reverse the order for the right-aligned items */
    background-color: #007bff;
    color: white;
    text-align: left;
    width: 90%;
    /* Align text to the left inside the right-aligned bubble */
}

.chat-input-form {
    justify-content: flex-start;
    width: 100%;
}

.IonCard-containing-chat {
    max-height: calc(100% - 120px); /* Adjust based on the height of the chat-input-form */
    overflow-y: scroll; /* Enable scrolling within the card if needed */
  }

  .avatarChat {
    margin: 5px;
    width: 10%;
}

  
.sc-ion-alert-md-h {
    min-width: 350px !important;
}