.chat-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.avatarChat {
    /* allow the avatar to shrink when needed */
    flex-shrink: 1;
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    
}

.chat-message-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.chat-message {
    background-color: #f1f1f1;
    color: black;
    border-radius: 15px;
    padding: 10px;
    white-space: normal;
    word-wrap: break-word;
    max-width: 80%;
}

.chat-item-right {
    color: white;
    text-align: right;
    flex-direction: row-reverse !important;
}

.chat-item-left {
    text-align: left;
    flex-direction: row !important;
}

.chat-item-left .chat-message-wrapper {
    width: 10%;
    text-align: left;
    flex-direction: row !important;
}

.chat-item-right .chat-message-wrapper {
    order: -1;
    /* Reverse the order for the right-aligned items */
    background-color: #007bff;
    color: white;
    text-align: right !important;
    width: 90%;
    flex-direction: row-reverse !important;

    /* Align text to the left inside the right-aligned bubble */
}

.chat-item-right .chat-message {
    background-color: #007bff;
    color: white;
}

.chat-item-left .chat-message {
    margin-right: auto; /* Align to the left */
}

.chat-input-form {
    justify-content: flex-start;
    width: 100%;
    padding-left: 2% !important;
    padding-bottom: 5px !important;
}

/* Additional adjustments for the infinite scroll if needed */
.ion-infinite-scroll-content {
    padding: 0;
    margin: 0;
}

.ion-infinite-scroll-content .spinner {
    width: 20px;
    height: 20px;
}

.infinite-scroll-enabled {
    display: flex !important;
    padding: 0;
    margin: 0;
}

.IonCard-containing-chat {
    max-height: calc(100% - 120px);
    /* Adjust based on the height of the chat-input-form */
    overflow-y: scroll;
    /* Enable scrolling within the card if needed */
}


.sc-ion-alert-md-h {
    min-width: 350px !important;
}