.ion-flex {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
  
  .ion-flex-direction-column {
    flex-direction: column;
  }
  
  .ion-flex-grow {
    flex-grow: 1;
  }
  
  .createOrganizationMap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 200px;
  }

  .item-native {
    min-height: 100px;
    height: 100px;
  }
  