

.welcome-to-bikebus h1 {
    font-size: 2.5rem;
    color: #111;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .welcome-to-bikebus-about h4 {
    color: #495f73; /* A complementary shade of blue */
    line-height: 1.6;
    font-size: 1.2rem;
  }
  
  .welcome-to-bikebus-buttons {
    margin-top: 2rem;
  }

  .welcome-to-bikebus-buttons-google ion-button {
    margin-right: 1rem;
    --padding-start: 0em;
    --padding-end: 0em;
  }
  


  .welcome-grid {
    max-width: 500px; /* You can set a max-width to prevent the grid from stretching too wide on larger screens */
    margin: auto;
  }
  
  .IonButton {
    margin: 8px 0; /* Spacing between buttons */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    width: 100%; /* Make the button expand to the full width of the column */
  }
  
  .IonButton img {
    margin-right: 8px;
    vertical-align: middle; /* Align the image vertically with the text */
  }
  
  h1, h4 {
    text-align: center; /* Center text in the header and subheader */
    margin: 16px 0;
  }
  
  .google-sign-in {
    cursor: pointer;
    display: block;
    width: 100%; /* Adjust as needed */
    margin: 16px auto;
  }
  
  .privacy-policy-link {
    display: block;
    text-align: center;
    color: #495f73; /* Match your color scheme */
    padding: 16px;
    text-decoration: none;
  }
  