@font-face {
    font-family: 'Indie-Flower';
    src: url('./assets/fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.BikeBusFont {
  font-family: 'Indie-Flower', sans-serif;
}

.bikebusname-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 10px; /* optional: for some space from the bottom */
}
